<div class="well">
	<div class="panel-heading c-list">
		<span class="title">Categorias</span>
	</div>
	<div class="main-content">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Filtrar categorias" id="category-list-search">
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Categorias</th>
					<th>Desconto aplicado</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="category in categoryCtrl.categories">
				<tr>
					<td>{{category.name}}</td>
					<td>{{categoryCtrl.discounts[category.discount]}}</td>
					<td style="text-align: right">
						<a ng-click="categoryCtrl.openUpdateCategoryDialog(category)">Mudar desconto</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>