<div class="well">
    <div class="panel-heading c-list">
        <span class="title">Vendas</span>
        <ul class="pull-right c-controls">
            <li>
                <button class="btn btn-success">
                    Adicionar Venda
                </button>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Categorias</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sale in salesCtrl.sales">
                <td>sale.id</td>
                <td>sale.date</td>
                <td style="text-align: right">
                    <a ng-click="cancelSale(sale)">Cancelar venda</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>